/*#input-text {*/
/*    background: aquamarine;*/
/*    width: 100%;*/
/*    height: 80%;*/
/*    border: 0;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    font-size: 1.2em;*/
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*    color: #000;*/
/*}*/

/*#text-reader {*/
/*    background: blue;*/
/*    border: ridge 2px;*/
/*    padding: 5px;*/
/*    width: 20em;*/
/*    min-height: 5em;*/
/*    height: 500px;*/
/*    width: 500px;*/
/*    overflow: auto;*/
/*}*/

#input-text {
    width:100%;
    height:100%;
    overflow:auto;
}

#text-reader {

    border: solid 1px #000;
    min-height: 200px;
    width: 300px;
}